@page
@using VeridianInsurance.Models
@model VeridianInsurance.Models.ViewModels.policyViewModel

@{
    var viewModel = ViewBag.Message as VeridianInsurance.Models.ViewModels.policyViewModel;
}

<head>
    <link rel="stylesheet" href="~/css/nDPolicy.css" type="text/css" />
</head>

<body>
    <div class="grid">
        <div class="nDPolicyBoxLeft">
            <div class="gridHeader">
                <h2>Policies</h2>
                <hr />
            </div>
            <div class="searchBox">
                <div class="search">
                    <label>
                        <input id="polNoSearchInput" type="text" onkeyup="polNoSearchFunction()" placeholder="Policy No">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                <div class="search">
                    <label>
                        <input id="custIdSearchInput" type="text" onkeyup="custIdSearchFunction()" placeholder="Customer Id">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
            </div>
            <div class="tableDiv">
                <table id="policyListTable">
                    <thead>
                        <tr>
                            <td>Policy No</td>
                            <td>Customer Id</td>
                            <td>UAVT</td>
                            <td>Building Age</td>
                            <td>Building Type</td>
                            <td>Price</td>
                            <td>Status</td>
                            <td>Approved By</td>
                            <td>Date of Issue</td>
                            <td>Payment</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var nd in viewModel.NDDetails)
                        {
                            Policy policy = viewModel.Policies?.FirstOrDefault(p => p.PolicyNo == nd.PolicyNo);
                            <tr>
                                <td>@policy.PolicyNo</td>
                                <td>@policy.CustomerID</td>
                                <td>@nd.Uavt</td>
                                <td>@nd.BuildingAge</td>
                                <td>@nd.Type</td>
                                <td>@policy.PriceOfThePolicy</td>
                                <td>@policy.Status</td>
                                <td>@policy.ApprovedBy</td>
                                <td>@policy.DateOfIssue.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>
                                    @{
                                        var paymentExists = viewModel.Payments?.Any(p => p.PolicyNo == nd.PolicyNo) ?? false;

                                        if (paymentExists)
                                        {
                                            @:Paid
                                        }
                                        else
                                        {
                                            if (policy.Status != 'I')
                                            {
                                                <form asp-action="Index" asp-controller="NDPayment" method="post">
                                                    <input type="hidden" name="policyNo" value="@policy.PolicyNo" />
                                                    <input type="hidden" name="payedAmount" value="@policy.PriceOfThePolicy" />
                                                    <input type="hidden" name="CustomerId" value="@policy.CustomerID" />
                                                    <input type="hidden" name="uavt" value="@nd.Uavt" />
                                                    <input type="hidden" name="area" value="@nd.Area" />
                                                    <input type="hidden" name="type" value="@nd.Type" />
                                                    <input type="hidden" name="buildingAge" value="@nd.BuildingAge" />
                                                    <input type="hidden" name="floor" value="@nd.Floor" />
                                                    <button type="submit" class="rounded-pill btn btn-outline-danger btn-sm">Pay</button>
                                                </form>
                                            }
                                            else
                                            {
                                                @:Invalid
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="nDPolicyBoxRight">
            <div class="gridHeader">
                <h2>New Policy</h2>
                <hr />
            </div>
            <form id="newNDPolicyForm" action="@Url.Action("NewNDPolicy", "NDPolicyPDF")" method="post">
                <div name="customerId" asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div name="customerId" class="form-floating mb-3">
                    <select name="customerId" class="form-control rounded-pill w-100">
                        @foreach (var customer in ViewBag.Message.Customers)
                        {
                            <option name="customerId" value="@customer.Id">@customer.Id</option>
                        }
                    </select>
                    <label>Customer Id</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col">
                    <input name="uavt" id="uavtId" class="form-control rounded-pill w-100" autocomplete="uavt" aria-required="true" placeholder="UAVT" maxlength="10" required />
                    <label for="uavtId">UAVT</label>
                </div>
                <div class="form-floating mb-3 col">
                    <input name="area" id="areaId" class="form-control rounded-pill w-100" autocomplete="area" aria-required="true" placeholder="Area" required />
                    <label for="areaId">Area(m2)</label>
                </div>
                <div name="buildingType" class="form-floating mb-3">
                    <select name="buildingType" class="form-control rounded-pill w-100">
                        <option value="residence">Residence</option>
                        <option value="office">Office</option>
                        <option value="other">Other</option>
                    </select>
                    <label>Building Type</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col">
                    <input name="buildingAge" id="buildingAgeId" class="form-control rounded-pill w-100" autocomplete="buildingAge" aria-required="true" placeholder="Building Age" maxlength="3" required />
                    <label for="buildingAgeId">Building Age</label>
                </div>
                <div class="form-floating mb-3 col">
                    <input name="floor" id="floorId" class="form-control rounded-pill w-100" autocomplete="floor" aria-required="true" placeholder="Floor" required />
                    <label for="floorId">Floor</label>
                </div>
                <button id="registerSubmit" type="submit" class=" rounded-pill w-50 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    </div>
    <script>
        function polNoSearchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("polNoSearchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("policyListTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function custIdSearchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("custIdSearchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("policyListTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>